<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_gripper">

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
 
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:robotiq_ft300 prefix="" parent="tool0" >
		<origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/> 
	</xacro:robotiq_ft300>

  <xacro:robotiq_85_gripper prefix="" parent="robotiq_ft_frame_id">
    <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
  </xacro:robotiq_85_gripper>

  <!-- BEGIN force/torque sensor -->

  <gazebo reference="wrist_3_joint">
    <pose>0 0.09 0 0 0 0</pose>
      <sensor name="wrist_3_joint_force_torque" type="force_torque">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <visualize>true</visualize>
        <force_torque>
          <frame>sensor</frame>
          <measure_direction>child_to_parent</measure_direction>
        </force_torque>
      </sensor>
  </gazebo>


<!-- END force/torque sensor -->
</robot>
